imagepullsecrets: {{ imagepullsecrets | default("")}}
dockerhub: {{ dockerhub | default("dockerhub")}}

replicaCount: {{ replica_count | default("1")}}
repository: {{image_name | default('sunbird-rc-core')}}
image_tag: {{ image_tag | default('v0.0.13')}}
resources:
  requests:
    cpu: '100m'
    memory: '100Mi'
  limits:
    cpu: '1000m'
    memory: '1024Mi'
network:
  port: 8081
  targetport: 8081
strategy:
  type: RollingUpdate
  maxsurge: '50%'
  maxunavailable: '50%'

autoscaling:
  enabled: 'false'
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 60
  targetMemoryUtilizationPercentage: ''

rccoreenv:
  connectionInfo_uri: {{postgres_connectionInfo_uri}}
  connectionInfo_username: {{postgres_connectionInfo_username}}
  connectionInfo_password: {{postgres_connectionInfo_password}}
  elastic_search_enabled: {{sunbird_rc.elasticsearch_enabled}}
  elastic_search_connection_url: {{elastic_search_connection_url}}
  search_provider: "dev.sunbirdrc.registry.service.ElasticSearchService"
  search_providerName: "dev.sunbirdrc.registry.service.ElasticSearchService"
  sunbird_sso_realm: 'sunbird-rc'
  sunbird_sso_url: {{sunbird_sso_url}}
  sunbird_sso_admin_client_id: 'admin-api'
  sunbird_sso_client_id: 'registry-frontend'
  sunbird_sso_admin_client_secret: {{keycloak.admin_api_secret}}
  enable_external_templates: 'true'
  sign_url: 'http://certificatesign:8079/sign'
  sign_health_check_url: 'http://certificatesign:8079/health'
  signature_enabled: 'false'
  pdf_url: http://certificateapi:8078/api/v1/certificatePDF'
  certificate_health_check_url: http://certificateapi:8078/health'
  template_base_url: 'http://registry:8081/api/v1/templates/'
  workflow.enable: 'false'
  connectionInfo_maxPoolSize: '200'
  auditTaskExecutor_queueCapacity: '100'
  taskExecutor_index_queueCapacity: '100'
  authentication_enabled: 'true'
  async_enabled: 'false'
  webhook_enabled: 'false'
  logging.level.root : 'INFO'
  filestorage_connection_url: 'http://filestorage:9000'
  filestorage_access_key: {{filestorage.minio_root_user}}
  filestorage_secret_key: {{filestorage.minio_root_password}}
  filestorage_bucket_key: 'issuance'


serviceMonitor:
  enabled: true
  labels: # labels with which the prometheus choose the serviceMonitor
    app: prometheus-operator
    release: prometheus-operator
