apiVersion: install.istio.io/v1alpha1
kind: IstioOperator
spec:
  values:
    global:
      meshID: {{ istio_multiprimary_meshid|default('mesh1') }}
      multiCluster:
        clusterName: {{ istio_multiprimary_cluster1_name|default('cluster1') }}
      network: {{ istio_multiprimary_network_name|default('network1') }}