#!/bin/bash
bold=$(tput bold)
normal=$(tput sgr0)

helm repo add istio {{istio_chart_repo}}
helm repo update


install_istio_helm() {

      istio_namespace="istio-system"
      kubectl config use-context ${1}
      # Use kubectl to check if the namespace exists
      if kubectl get namespace "$istio_namespace" &> /dev/null; then
      echo "Namespace '$istio_namespace' exists."
      else
      echo "Namespace '$istio_namespace' does not exist. Creating namespace '$istio_namespace'"
      kubectl create namespace istio-system
      fi

      echo "Install the Istio base chart"
      helm install istio-base istio/base -n istio-system --set defaultRevision=default
      sleep 10
      helm ls -n istio-system

      echo "Install the Istio discovery chart"
      helm install istiod istio/istiod -n istio-system --wait
      helm status istiod -n istio-system

}

install_istio_helm {{ctx_cluster1}}
install_istio_helm {{ctx_cluster2}}



